#articulo{
  border: 0.1rem solid black;
  text-align: center;
  width: 8rem;
  height: 13rem;
  margin: 0.5rem;
  padding: 0rem;
}
#articulo>img{
  width: 5rem;
  height: 5rem;
}
h1,p{
  margin: 0rem;	
}
.arriba{
  background-color: greenyellow;
}
.arriba>button, span{
  margin-inline: 1rem ;
}
.abajo{
  background-color: greenyellow;
}
.abajo>button{
  margin-inline: 2rem ;
}
.heart {
  --c : lightgray;
  font-size: 0.7rem;
  display: inline-block;
  width: 2.5rem;
  aspect-ratio: 1;
  border-image: radial-gradient(var(--c) 69%, #0000 70%) 84.5%/50%;
  clip-path: polygon(-41% 0, 50% 91%, 141% 0);
  border-radius: 30%;
}